*{
    margin: 0px;
    font-family: sans-serif;
}
.hero {
    background-color: aqua;
    position: relative;
    height: 400px;
    width: 100%;
    display: table;
}

.hero h1 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.product-box {
    background-color: #f3f3f3;
    width: 130px;
    height: auto;
    text-align: center;
    padding:20px;
    border-radius: 10px;
    box-shadow: 4px 4px rgba(0,0,0,0.2) ;
}

.product-name {
    font-size: 20;
    font-weight: bold;
}

.product-desc {
    color: darkblue;
    text-align: left;
    font-size: 15px;
    padding-bottom: 10px;
}

.product-btn {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: darkgreen;
    color: aliceblue;
    font-size: 15px;
    border: none;
}

.product-btn:hover{
    background-color: chartreuse;
    color: black;
    box-shadow: 2px 2px rgba(0,0,0,.1);
}

.product-btn:active{
    color:red;
}

.product-price {
    padding-bottom: 10px;
    color: black;
    font-size: 18;
    font-weight: bold;
}
